body{
	padding: 0px;
	margin: 0px;
}
button{
	cursor: pointer;
}
button:focus {
	outline:0;
}
.header-container{
	background-color: #dedede;
	height: 35px;
	padding: 10px;
	margin: 0px 15px 15px 15px;
	display: block;
	position: relative;
}
#home-button{
    height: 35px;
	background-color: #afafaf;
	color: #fff;
	border: none;
	position: absolute;
	right: 200px;
}
#twitter-sign-button{
    height: 35px;
	width: 150px;
	background-color: #55ACEE;
	color: #fff;
	border-radius: 5px;
	border: none;
	position: absolute;
	right: 20px;
}
#header-program-name{
	color: #434343;
	font-size: 25px;
    font-family: Arial;
	position: absolute;
	left: 20px;
}
.body-container{
	background-color: #dedede;
	padding: 60px 30px 30px 30px;
	margin: 15px;
	border-radius: 7px;
	text-align: center;
	position: relative;
}
.poll-box-button{
	background-color: #fcfcfc;
	height: 30px;
	width: 100%;
	border-radius: 3px;
	border: none;
	margin: 1px;
}
#poll-box-button:hover{
	background-color: #ededed;
}
.voting-area{
	display: inline-block;
	width: 50%;
}
#drop-down-list{
	display: block;
	margin: 10px;
	box-sizing: border-box;
	width: 50%;
	height: 35px;
	background-color: #FFFAFA;
	color: #000;
	border-radius: 3px;
	border: 1px solid #999999;
	padding-left: 10px;
}
.submit-text{
	text-align: left;
	margin: 10px; 
}
#submit-button{
	display: block;
	margin: 10px;
	width: 50%;
	height: 35px;
	background-color: #98503C;
	color: #fff;
	border-radius: 3px;
	border: none;
}
#share-twitter-button{
	display: block;
	margin: 10px;
	width: 50%;
	height: 35px;
	background-color: #55ACEE;
	color: #fff;
	border-radius: 3px;
	border: none;
}
.chart-area{
	display: inline-block;
	width: 50%;
}
.footnote{
	margin: 15px;
	text-align: center;
}
